

@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@1&display=swap');

html{
  font-family: 'Libre Bodoni', serif;
  background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg");
  background-color: #ccc;
  color: rgb(255, 255, 255);
}

.cabecera,
header{
    padding: 10px;
    grid-row: 1;
    grid-column:span 3;
    grid-column-start: 1;
    grid-column-end: 3;
}
.cabecera{
    text-align: center;
    color: rgb(255, 255, 255);
}

form{
	width:500px;
	padding:16px;
	margin: 30px;
}

form input[type="text"],
form input[type="date"]{
	width:200px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:10px 0;
}
